.nav {
	grid-area: nav;
	background-color: green;
	padding: 20px;
}

li {
	list-style-type: none;
}

.nav__item a {
	color: white;
	text-decoration: none;
}

.nav__item {
	color: #00ddff;
}

.nav__item a.active {
	color: rebeccapurple;
}

